/* Write your CSS here */
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto';
  height: 100vh;
}
.heading {
  color: #2d3a35;
  font-size: 40px;
  font-weight: bold;
}
.value {
  color: #c20a72;
  font-size: 45px;
}
.instruct {
  color: #2d3a35;
  font-size: 16px;
}
.button {
  background-color: #007bff;
  font-size: 10px;
  color: white;
  border-width: 0px;
  border-radius: 5px;
  height: 30px;
  width: 70px;
  cursor: pointer;
  outline: none;
}
